body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
}

.orange {
    color: #ff6600;
}

.hero p {
    font-size: 20px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  box-sizing: border-box;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
