body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
}

.orange {
    color: #ff6600;
}

.hero p {
    font-size: 20px;
}
